.container {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 64px;
}

.postsContainer {
    columns: 2;
}

.blogPost {
    padding: 16px 0;
    width: 100%;
    margin-bottom: 64px;
}

.postImage {
    width: 100%;
    display: block;
    margin: 32px auto;
}

@media (min-width: 640px) {
    .container {
        margin-top: 128px;
    }

    .postImage {
        width: 50%;
        display: block;
        margin: 32px auto;
    }

    .blogPost {
        margin-bottom: 256px;
    }
}

@media (min-width: 800px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}