html, body, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hammer {
    cursor: url(/hammer.png), pointer;
}