html, body, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.featuredContent {
    max-width: 1024px;
    margin: 0 auto;
}

.featuredContentImg {
    display: block;
    /* margin: 16px auto; */
    width: 75%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hammer {
    cursor: url(/hammer.png), pointer;
}

article * {
    display: none;
}

article .postContent p, article h3, article span, .postContent {
    display: block;
}

.postContent {
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded * {
    display: block;
}

.expanded img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

iframe {
    margin: 0 auto;
    max-width: 100%;
}

/* typography */
h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 16px;
    color: yellow;
    font-size: 30px;
}

h3 {
    margin-bottom: 8px;
    font-size: 24px;
    color: yellow;
}

.postInfo, .readMore {
    display: block;
    font-size: 18px;
    color: yellow;
}

.postInfo {
    margin-bottom: 4px;
}

.readMore {
    margin-top: 8px;
    font-weight: 700;
}

p {
    color: yellow;
    font-size: 18px;    
}

/* animations */

.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.marqueeBounce {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.marqueeBounceContent {
    display: inline-block;
    padding-left: -200%;
    animation: marqueeBounce 3s linear infinite;
}

@keyframes marqueeBounce {
    0%   { transform: translate(0, 0); }
    50%   { transform: translate(100%, 0); }
    75% { transform: translate(50%, 0); }
    100%   { transform: translate(0, 0); }
}

/* responsive styles */

@media (min-width: 425px) {
    .featuredContentImg {
        /* margin: 32px auto; */
        width: 60%;
    }
}

@media (min-width: 640px) {
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    .postInfo, .readMore {
        font-size: 24px;
    }
}

@media (min-width: 800px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .featuredContentImg {
        /* margin: 64px auto; */
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}